body{
    background-color: rgb(255, 255, 255);
}
.banner {
    background-image: url("../Page/Bannzz.png");
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;           
    flex-wrap: wrap;      
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: center;
    gap:300px;
}
.promo-logo {
    height: 50px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color:white;
    border-bottom: 1px solid #ddd;
}

.nav-left a,
.nav-right a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 10px;
    text-decoration: none;
    color: #3f3f3f;
    font-weight: 500;
}

.logo img {
    height: 60px;
    text-align: center;
}


.nav-left a:hover,
.nav-right a:hover {
    color: black;
}
.cart-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.cart-btn img {
    height: 24px;
    width: auto;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

.search-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.search-btn img {
    height: 24px; 
    width: auto;
}

.split-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.split-item {
    position: relative;
    flex: 1;
    min-width: 300px;
    overflow: hidden;
}

.split-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}
.split-img:hover {
    transform: scale(1.1);
}

.split-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
}

.split-text h2 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.split-text p {
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.triple-section {
    display: flex;
    gap: 10px;
    padding-top: 60px;
}
.triple-item {
    flex: 1;
    height: 600px;

    overflow: hidden;
    position: relative;
}

.triple-img  {
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.triple-img:hover  {
    transform: scale(1.1);
}

.btn-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.img-btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.25s ease;
}

.img-btn:hover {
    background: black;
    color: white;
}

.footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    margin-top: 50px;
    display: flex;
    gap: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-section a {
    display: block;
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.2s;
}

.footer-section a:hover {
    color: rgb(124, 124, 124);
}

.footer p {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777;
}

