body{
    background-color: #ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #edeaea;
    border-bottom: 1px solid #ddd;
}

.nav-left a,
.nav-right a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.logo img {
    height: 60px;
    text-align: center;
}


.nav-left a:hover,
.nav-right a:hover {
    color: black;
}
.cart-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.cart-btn img {
    height: 24px; 
    width: auto;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

.search-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.search-btn img {
    height: 24px; 
    width: auto;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #edeaea;
    height: 60px;
    padding-top: 20px;

}
.Whole-items1 {
    display: flex;
    gap: 55px;
    padding-top: 30px;
    flex-wrap: wrap;
}
.Whole-items2 {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;

}
.ind-items {
    flex: 1;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.ind-img  {
    width:320px;
    height: 300px;
    border-radius: 10px;
}
.writing{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.1;
    color: #000000;

}
.add-cart-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    margin-top: 50px;
    display: flex;
    gap: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-section a {
    display: block;
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.2s;
}

.footer-section a:hover {
    color: rgb(124, 124, 124);
}

.footer p {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777;
}
